.backdrop{
    background-color: #0000008e;
    z-index: 31;
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modal{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 50%;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    z-index: 33;
    height: fit-content;
}

