.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/a1a5d7dc-aedf-4570-b58d-693af16e1445/13a76a0d-0dc6-416a-9bb2-4495f4d15fb1/ID-en-20211020-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    form {
      width: 22vw;
      min-width: 450px;
      min-height: 75vh;
      max-height: 660px;
      padding: 60px 60px 40px;
      border-radius: 5px;
      background-color: rgba(0,0,0,.75);
      display: flex;
      flex-direction: column;
      // justify-content: space-around;

      h1{
        margin-bottom: 30px;
      }

      .error{
        background: #EB7C03;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
        margin-bottom: 15px;

        a{
          text-decoration: underline;
        }
      }
    
      .formControl{
        height: auto;
        width: 100%;
        position: relative;
        margin-bottom: 10px;

        p{
          color: #EB7C03;
          font-weight: 400;
          font-size: 13px;
          margin: 5px 0;
        } 

        input {
          height: 50px;
          width: 100%;
          border: 1px solid #222;
          border-radius: 4px;
          background-color: #333333;
          color: white;
          padding: 0 20px;
          padding-top: 7px;
          outline: none;

          &:focus{
            background-color: #555;
            +label{
              font-size: 12px;
              top: 6px;
            }
          }

          &:not(:placeholder-shown){
            +label{
              font-size: 12px;
              top: 6px;
            }
          }
        }

        label{
          position: absolute;
          left: 20px;
          top: 15px;
          pointer-events: none;
          color: #ccc;
          transition: all .2s ease;
          // bottom: 0;
        }

        &.invalid{
          input{
            border-bottom:2px solid #EB7C03;
          }
        }

      }

      button {
        height: 50px;
        border-radius: 5px;
        background-color: red;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        margin: 30px 0 10px;
      }

      .sideAction{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        color: #B3B3B3;
        margin-bottom: 40px;

        .checkboxInput{
          display: flex;
          align-items: center;
        }

        input{
          width: 18px;
          height: 21px;
          margin-right: 5px;
        }

        a{
          &:hover{
            text-decoration: underline;
          }
        }
      }

      .sideLogin{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 13px;
      

        img{
          width: 20px;
          margin-right: 10px;
        }

        span{
          color: #737373;
        }
      }

      span {
        color: #737373;
        a {
          color: white;

          &:hover{
            text-decoration: underline;
          }
        }
      }

      small{
        color: #8c8c8c;
        margin-top: 20px;
      }
    }
  }
}
