.listItemWrapper{
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.listItem {
  width: 14.5vw;
  height: 8.5vw;
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  border-radius: 5px;

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.itemHover {
  width: 22vw;
  max-width: 440px;
  height: fit-content;
  position: absolute; 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 5px;
  top: 0;
  bottom: 0px;
  margin: auto;
  background-color: var(--main-color);
  // animation: zoom .2s linear;
  border-radius: 10px;
  z-index: 100;


  // @keyframes zoom {
  //   0%{
  //     // transform: scale(0);
  //     filter: opacity(0);
  //   }
    
  //   100%{
  //     // transform: scale(1);
  //     filter: opacity(1);
  //   }
  // }

  video {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  .itemInfo {
    display: flex;
    flex-direction: column;
    padding: 16px;
    z-index: 100;
   
    .icons {
      display: flex;
      margin-bottom: 15px;
      z-index: 200;
    
      .icon {
        border: 2px solid rgba(255, 255, 255, .5);
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 16px;
        width: 42px;
        height: 42px;
        background-color: #2a2a2a99;
        z-index: 34;

        &:first-child{
          color: #000;
          background-color: #fff;
        }

        &:last-child{
          margin-left: auto;
        }

        &:hover{
          border-color:rgba(255, 255, 255, 1);
        }
      }
    }
    .itemInfoTop {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;

      .limit {
        border: 1px solid gray;
        padding: 0px 6.4px;
        margin: 0 10px;
      }
    }

    .quality{
      padding: 0 5.6px;
      color: #ffffffe7;
      font-size: 11.2px;
      border: 1px solid rgba(255, 255, 255, .4);
      margin: 0 6px;
      border-radius: 5px;
    }

    .rating{
      color: lightgreen;
    }

    .desc {
      font-size: 13px;
      margin-bottom: 10px;
    }

    .genre {
      font-size: 16px;
      color: #fff;
    }
  }
}